<nav class="navbar navbar-expand-md navbar-dark sticky-top flex-nowrap p-0 shadow">
	<span class="navbar-brand">
		AdA Risques · <span class="app-name">e-<b>net</b></span>
	</span>
	<ul class="navbar-nav flex-row justify-content-end align-items-center">
		<li class="nav-item">
			<a class="nav-link" href="https://www.linkedin.com/groups/4594450/"><span class="fab fa-linkedin"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://www.facebook.com/groups/412180598824033"><span class="fab fa-facebook-square"></span></a>
		</li>
		<li class="nav-item navbar-user d-md-block">
			<a class="nav-link bg-white text-dark rounded-circle" href="#">JD</a>
		</li>
	</ul>
	<button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target=".kanzan-collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</nav>
