<nav class="navbar navbar-expand-md navbar-dark sticky-top flex-nowrap p-0 shadow">
	<span class="navbar-brand">
		AdA Risques · <span class="app-name">e-<b>net</b></span>
	</span>
	<ul class="navbar-nav ms-auto">
		<li class="nav-item">
			<a class="nav-link" href="https://www.linkedin.com/groups/4594450/"><span class="fab fa-2x fa-linkedin"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://www.facebook.com/groups/412180598824033"><span class="fab fa-2x fa-facebook-square"></span></a>
		</li>
		<li class="nav-item text-nowrap px-3 mt-1">
			<a class="nav-link bg-white text-dark rounded-circle" href="#">JD</a>
		</li>
	</ul>
</nav>
