<nav class="d-none d-md-block sidebar shadow-sm">
	<div class="sidebar-sticky d-flex flex-column">
		<ul class="nav flex-column">
			{{- range sort .Site.RegularPages -}}
			<li class="nav-item">
				<a class="nav-link{{ if eq .RelPermalink $.RelPermalink }} active{{ end }}" href="{{ .RelPermalink }}">
					<span class="fa fa-fw fa-lg fa-{{ .Param "icon" }}"></span>
					{{ .Title }}
				</a>
			</li>
			{{- end -}}
		</ul>

        <h6 class="sidebar-heading px-3 mt-4 mb-1">Gérer les anciens</h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fa fa-fw fa-lg fa-user-check"></span>
                    Validation
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fa fa-fw fa-lg fa-comment-dollar"></span>
                    Adhésion
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading px-3 mt-4 mb-1">Gérer le CA</h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fa fa-fw fa-lg fa-users"></span>
                    Membres
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fa fa-fw fa-lg fa-user-tag"></span>
                    Rôles
                </a>
            </li>
        </ul>

        <ul class="nav flex-column mt-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fa fa-fw fa-lg fa-angle-double-left"></span>
                    Réduire
                </a>
            </li>
        </ul>
    </div>
</nav>
